<section data-id="541">
    <img src="/img/chooser/gardens.jpg" />
    <p>The jewel in Ballarat's crown, the Botanic Gardens at Lake Wendouree offers a historic Victorian era park and gardens.</p>
    <p>With a magnficent collection of marble statues, mature trees and colourful garden beds, the gardens are host to many events.</p>
    <p>Also home of the Prime Ministers Avenue and the Robert Clark Conservatory.</p>
    <p><button data-id="541">Select this location</button></p>
</section>
