<section data-id="493">
    <img src="/img/chooser/mallow.jpg" />
    <p>We’re a cosy &amp; friendly local pub, serving up regional Victoria’s biggest selection of craft beer on tap. Our wine list is packed full of tasty local drops.</p>
	<p>Our menu consists of all the pub classics, plus more gastropub style dishes.</p>
	<p><strong>Open from 12pm</strong></p>
    <p><a href="https://themallow.com.au/" target="_blank" onclick="alert('This will open a new tab')">The Mallow web site</a></p>
    <p><button data-id="493">Select this location</button></p>
</section>
