<section data-id="545">
    <img src="/img/chooser/wildlife.jpg" />
    <p>Get up close with kangaroos, koalas, wombats, a variety of reptiles ranging from snakes to lizards, and even a giant tortoise!</p>
    <p><a href="http://wildlifepark.com.au" target="_blank" onclick="alert('This will open a new tab')">Ballarat Wildlife Park web site</a></p>
    <p><button data-id="545">Select this location</button></p>
</section>
