<section data-id="380">
    <img src="/img/chooser/cubbyhaus.jpg" />
    <p>No consultants, no packaged components. Cubby Haus prides itself on being truly hand crafted.</p>
    <p>Try a selection of beers with a tasting paddle, or by the pot, schooner or pint. Bring a picnic, or choose from our selection of toasties and snacks.</p>
	<p><strong>Open from 12pm</strong></p>
    <p><a href="http://cubbyhausbrewing.com.au" target="_blank" onclick="alert('This will open a new tab')">Cubby Haus Brewing web site</a></p>
    <p><button data-id="380">Select this location</button></p>
</section>
