<section data-id="114">
    <p>A double flying fox, swings, slides, carousel and an all year round passive water play area are just some of the features inside Ballarat's landmark playground.</p>
    <p>With two acres of fully fenced playground, parents can relax while the kids run free.</p>
    <p><button data-id="114">Select this location</button></p>
</section>
