<section data-id="546">
    <img src="/img/chooser/visitor.jpg" />
    <p>Housed inside Ballarat's beautiful historic town hall, the friendly staff at the Visitor Centre can help you plan your visit.</p>
    <p>Whilst in the heart of the city, enjoy the surrounding cafes, restaurants and shopping.</p>
    <p><button data-id="546">Select this location</button></p>
</section>

