<section data-id="327">
    <img src="/img/chooser/sovhill.jpg" />
    <p>Australia's foremost outdoor museum.</p>
    <p>Sovereign Hill re-creates the 1850's gold rush, when thousands came to Ballarat in search of fortune.</p>
    <p><a href="http://sovereignhill.com.au" target="_blank" onclick="alert('This will open a new tab')">Sovereign Hill web site</a></p>
    <p><button data-id="327">Select this location</button></p>
</section>

