<section data-id="516">
    <img src="/img/chooser/wendouree.jpg" />
    <p>Ballarat's second railway station, with services to Melbourne, Beaufort and Ararat.</p>
    <p>A short walk to the North Gardens and Lake Wendouree.</p>
    <p><a href="http://ptv.vic.gov.au" target="_blank" onclick="alert('This will open a new tab')">Public Transport Victoria web site</a></p>
    <p><button data-id="516">Select this location</button></p>
</section>

