<section data-id="491">
    <img src="/img/chooser/hoptemple.jpg" />
    <p>Hop Temple is enthusiastic about good beer, wine and food.</p>
    <p>A family orientated environment for everybody to enjoy, we pride ourselves on providing a relaxed atmosphere with no pressure</p>
	<p><strong>Open from 12pm</strong></p>
    <p><a href="http://hoptemple.com.au" target="_blank" onclick="alert('This will open a new tab')">Hop Temple web site</a></p>
    <p><button data-id="491">Select this location</button></p>
</section>
