<section data-id="74">
    <img src="/img/chooser/train.jpg" />
    <p>Ballarat's transport hub is just one block from the Art Gallery of Ballarat, cinema, restaurants and cafes.</p>
    <p><a href="http://ptv.vic.gov.au" target="_blank" onclick="alert('This will open a new tab')">Public Transport Victoria web site</a></p>
    <p><button data-id="74">Select this location</button></p>
</section>
