body {
  padding: 40px;
}

table {
  border-collapse: collapse;
}
thead {
  font-weight: bold;
}
tr:hover {
  background-color: yellow;
}
td {
  border: 1px solid #ddd;
  padding: 2px 5px;
}

h2 {
  margin: 1.5em 0 0.5em 0;
  font-size: 15pt;
}

nav {
  display: table;
  margin-bottom: 2em;
}
nav ul {
  display: table-row;
}
nav li {
  display: table-cell;
  background-color: #222;
  padding: 5px 10px;
  border-radius: 3px;
}
nav a {
  color: #ff9;
  text-decoration: none;
}
