button.chooser {
  display: block;
  width: 100%;
  background-color: white;
  border: 0px;
  font-size: 12pt;
  text-align: left;
}


.chooser_container, .chooser_container * {
  margin: 0;
  padding: 0;
}

.chooser_container {
  color: black;
  background-color: #eee;
  font-size: 11pt;
  overflow: auto;
  /*font-family: "Roboto Condensed", sans-serif;*/
}

.chooser_container ul.chooser {
  padding: 5px 0;
  border-bottom: 1px solid #bbb;
  list-style-type: none;
  display: block;
  overflow: auto;
}

.chooser_container ul.chooser li {
  float: left;
  padding: 7px;
  cursor: pointer;
}

.chooser_container ul.chooser li.selected {
  background-color: #333;
  color: white;
}

.chooser_container section {
  padding: 0 10px;
  line-height: 1.3;
}
.chooser_container section p {
  margin: 1em 0;
}
.chooser_container section img {
  float: right;
  margin: 0 0 5px 5px;
}
.chooser_container section button {
  font-size: 1em;
  padding: 5px;
  border: 0px;
  cursor: pointer;
  background-color: green;
  color: white;
  float: right;
}

