
body, input, button {
  font-family: monospace;
  font-size: 12pt;
}

body {
  background-color: #fcc;
}
body.online {
  background-color: #bfb;
}


input, button, label {
  cursor: pointer;
}

input[type="text"] {
  margin-left: 10px;
  width: 5em;
}

input[type="checkbox"] {
  zoom: 3;
}
input#report {
  zoom: 2;
}


table {
  border-collapse: collapse;
  background-color: white;
}
table thead {
  display: none;
}
table caption {
  background-color: #444;
  color: white;
  padding: 2px 5px;
  position: fixed;
  bottom: 2px;
  left: 2px;
}
table td {
  padding: 5px;
  min-width: 2em;
}
table tr:nth-child(even) {
  background-color: #ddd;
}
td .desc {
  word-break: break-all;
}
tr.next {
  font-weight: bold;
}


label.disabled {
  opacity: 0.2;
}


form i.material-icons {
  font-size: 48px;
}


button[data-action] {
  padding: 10px;
}
button[disabled] {
  opacity: 0.1;
}


#options {
  padding: 5px;
  float: right;
}
#options input {
  background-color: inherit;
  border: 0;
  font-size: 10pt;
}
#options form p {
  margin: 10px 0;
}


i.material-icons {
  font-size: 16pt;
}



ul#status-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  display: table-row;
  font-size: 1.5em;
}
ul#status-bar li {
  display: table-cell;
  padding: 10px 20px;
}
