html {
    background-color: #ffde5f;
}

body {
    color: white;
}

div.container {
    max-width: 500px;
    margin: auto;
}

fieldset {
    display: table-row;
    border: 0;
}
fieldset div {
    display: table-cell;
    padding-right: 20px;
}

nav {
    padding: 10px;
    border-bottom: 1px solid #d8af00;
}
nav div.container {
    padding: 10px;
}
nav img {
    display: block;
    margin: auto;
}

footer {
    padding: 10px 10px 30px 10px;
    border-top: 1px solid #d8af00;
}
footer h2 {
    margin: 40px 0 -10px 0;
    font-family: Capriola, sans-serif;
    font-size: 13pt;
    font-weight: normal;
    background-color: #333;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}
footer ul {
    list-style-type: square;
    list-style-position: inside;
}
footer, footer a {
    color: #333;
}
footer p {
    margin: 1em 0;
}
footer p.question {
    font-weight: bold;
    font-size: 110%;
    margin: 2em 0 -0.8em 0;
}

#content {
    padding: 8px 8px 80px 8px;
    background-color: #fed430;
}

#content h2 {
    font-size: 18pt;
    margin-top: 20px;
    color: black;
    font-weight: 200;
    text-transform: uppercase;
}

form label {
    display: block;
    margin: 15px 0 0 0;
}

select, input[type="tel"], input[type="submit"] {
    padding: 3px;
    font-size: 13pt;
}

select {
    width: 100%;
}

select, option, input[type="tel"] {
    border: 0;
    font-size: 13pt;
}

input[type="submit"] {
    display: block;
    width: 100%;
    margin: 20px 0;
}

input[type="tel"] {
    font-family: Consolas, monospace;
    max-width: 9em;
    letter-spacing: 1px;
}

noscript {
    color: red;
    font-size: 20pt;
}

ul {
    list-style-type: none;
}

li.visit {
    padding: 5px;
    margin: 2px 0;
    background-color: #444;
    color: white;
}

li.visit span.eta {
    float: right;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 9pt;
    background-color: white;
    color: red;
    font-weight: bold;
}

li.visit.mine::after {
    content: " *";
}

p.note {
    text-align: right;
    font-colour: #666;
    font-style: italic;
    font-size: 9pt;
}

#loading {
    text-align: center;
    color: black;
}
#loading h2 {
    font-size: 2em;
    margin: 2em 0 5em 0;
}
#loading p a {
    color: black;
}

div#about {
    border-radius: 8px;
    background-color: blue;
    padding: 5px 15px;
    margin: 25px 0;
    position: relative;
    text-align: center;
}
div#about p {
    margin: 10px 0;
}
div#about button {
    color: white;
    background-color: blue;
}

.closeable {
    display: none; /* hide by default, enabled by script */
}
.closeable button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border: 0;
    display: block;
    padding: 0;
    cursor: pointer;
}


p#error {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: red;
    padding: 10px;
    color: yellow;
    text-align: center;
    font-size: 20pt;
}

div label, input[type="tel"], p.note {
    color: black;
}

select, option {
    background-color: white;
    color: black;
}




/* verify checkbox
*/
div#verify {
    display: block;
    margin-top: 20px;
}
div#verify input[type="checkbox"] {
    zoom: 1.5;
    margin-right: 2px;
}
div#verify label {
    display: inline;
}





#status {
    text-align: right;
}
#status p {
    color: white;
    font-size: 14pt;
    text-align: center;
    padding: 5px;
    margin-top: 40px;
    border-radius: 5px;
}
#status button {
    margin: 20px 0;
}
#status[data-event-type="searching"] p { background-color: #f33; }
#status[data-event-type="matched"] p { background-color: #50a450; }
#status[data-event-type="collected"] p { background-color: #339; }
#status[data-event-type="delivered"] p { background-color: #333; }
#status[data-event-type="expired"] p { background-color: yellow; color: red; }

#map {
    border: 2px solid white;
    height: 200px;
    color: black;
}

#map.fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    position: fixed;
    top: 3%;
    left: 3%;
    width: 90%;
    height: 90%;
    background-color: #eee;
    color: #222;
    padding: 2%;
    overflow-y: scroll;
    border: 2px outset #888;
}
.popup h1 {
    font-size: 16pt;
    margin-bottom: 10px;
}
.popup img {
    max-width: 100%;
    border: 1px solid #888;
}
.popup button {
    float: right;
}
.popup p {
    margin: 10px 0;
}


.mapControl {
    width: 28px;
    height: 28px;
    margin: 5px 10px;
    cursor: pointer;
    border: 1px solid #bbb;
}


/* from http://stackoverflow.com/a/31458204 */
@keyframes fadeIn { from { opacity: 0; } }
.pulse { animation: fadeIn 1s infinite alternate; }

