
body {
	margin: 1em;
}

p {
  margin: 1.5em 0;
}

p a {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

ol {
	margin-left: 2em;
}

li {
	margin: 0.5em 0;
}
