<section data-id="543">
    <img src="/img/chooser/boatshed.jpg" />
    <p>Enjoy a meal at the Lake View Hotel, or have a coffee at The Boatshed Cafe, both overlooking beautiful Lake Wendouree from the east side.</p>
    <p>The lake offers a renowned 6km walking track, and hosts many competitive rowing events.</p>
    <p><button data-id="543">Select this location</button></p>
</section>

