<section data-id="544">
    <img src="/img/chooser/made.jpg" />
    <p>Explore the stories of Chinese pioneers during the Australian goldrush, and the hardships they overcame.</p>
    <p>Saltbush Kitchen @ MADE offers a menu of delicious native flavours. Pop in for a coffee or meal.</p>
    <p><a href="http://made.org" target="_blank" onclick="alert('This will open a new tab')">MADE web site</a></p>
    <p><button data-id="544">Select this location</button></p>
</section>
